@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image-card {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png');
    height: 30vh;
    background-size: cover;

}

.podcast {
    color: #ffffff;
    padding: 10px;
    font-size: 26px;
    font-weight: 300;
}

.image {
    width: 150px;
    height: 130px;
    margin: 10px;
}

.pjheading {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #151765;
    padding-left: 20px;
}

.pjtext {
    padding-left: 10px;
}

.pjpara {
    padding-left: 20px;
}

.pjtext {
    width: 150px;
    text-align: center;
}

.detailed-image-card {
    background-color: #151765;
    height: 25vh;
    background-size: cover;
}

.imagepuri {
    width: 130px;
    height: 120px;
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.detailed-puri-heading {
    font-family: roboto;
    font-size: 16px;
    font-weight: 100;
    padding-top: 20px;
    color: #ffffff;
    opacity: 0.7;
}
.first{
    margin-top: 20px;
}

.detailed-puri-heading2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: roboto;
}

.detailed-puri-tagline {
    font-family: roboto;
    font-size: 14px;
    font-weight: 100;
    color: #ffffff;
    opacity: 0.7;
}

.detailed-puri-MG {
    font-size: 16px;
    font-weight: bold;
    font-family: roboto;
    color: #151765;
}

.text-detailed-puri-white {
    margin-top: 18px;
}

.detailed-puri-para {
    color: #5a7184;
    font-size: 14px;
    font-weight: 100;
    font-family: roboto;
    line-height: 24px;
}

.time {
    color: #151765;
    font-family: roboto;
    font-size: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.button {
    text-align: center;
    border-radius: 10px;
    background-color: #151765;
    width: 80px;
    color: white;
    font-family: roboto;
}

.button-card {
    text-align: right;
    margin: 10px 5px 10px 10px;
}